<types>
  <type name="Context" desc="A context made with a constructor.">
    <prop opt name="_init" type="() => void">
      A function to initialise the context.
    </prop>
    <prop opt name="_destroy" type="() => void">
      A function to destroy the context.
    </prop>
  </type>
  <type type="{new(...args: any[]): Context}" name="ContextConstructor" desc="A function or class or object that makes a context">
  </type>
</types>